<div class="home-container">
    <h1>Welcome to Gym-fit</h1>
    <p>Your journey to fitness starts here. Join our community and achieve your goals!</p>

    <mat-grid-list cols="3" rowHeight="1:1" gutterSize="20px">
        <mat-grid-tile>
            <mat-card class="card-image">
                <mat-card-header>
                    <mat-card-title>Trainers</mat-card-title>
                </mat-card-header>
                <img src="assets/images/trainer.webp" alt="Trainers" />
                <mat-card-content>
                    <p>Check out personal trainers.</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button color="primary" routerLink="/trainers">Checkout trainers</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="card-image">
                <mat-card-header>
                    <mat-card-title>Trainings</mat-card-title>
                </mat-card-header>
                <img src="assets/images/gym.webp" alt="Group Classes" />
                <mat-card-content>
                    <p>Look for and assign to trainings.</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button color="primary" routerLink="/trainings">View trainings</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="card-image">
                <mat-card-header>
                    <mat-card-title>KFD store</mat-card-title>
                </mat-card-header>
                <img src="assets/images/kfd-store.png" alt="Nutrition Guidance" />
                <mat-card-content>
                    <p>Visit nutrition and suplements store.</p>
                    <a href="https://sklep.kfd.pl/" target="_blank" rel="noopener noreferrer">KFD store</a>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>

    <div class="cta">
        <h2>Ready to get started?</h2>
        <button mat-raised-button color="primary" routerLink="/register">Join Now</button>
    </div>
</div>
