.toast-success {
    background-color: #4caf50;
    color: #fff;
    position: absolute;
    top: 70px;
}

.toast-error {
    background-color: #f44336;
    color: #fff;
    position: absolute;
    top: 70px;
}