<div class="trainings-container">
  <h1>Trainings</h1>

  <span *ngIf="trainings.length === 0" class="no-trainings">No trainings available at the moment</span>

  <ul>
    <li *ngFor="let training of trainings">
      <h3>{{ training.name }}</h3>
      <p><strong>Date:</strong> {{ training.dateStart | date: 'longDate' }}</p>
      <p *ngIf="training.capacity"><strong>Free spaces:</strong> {{ training.freeSpaces }} </p>

      <button mat-raised-button color="primary" [disabled]="isTrainer || training.freeSpaces === 0"
         (click)="assignToTraining(training.id.toString())">
        Assign to training
      </button>
    </li>
  </ul>
</div>